#root {
  margin: 0 auto;
  margin-top: 0px;

  text-align: center;
}

.addButton {
  background-color: rgb(141, 21, 21);
  margin: 1rem;
}
.inputPlace {
  height: 30px;
  background-color: white;
  color: black;
  border-radius: 4%;
}
